apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ include "wordpress.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "wordpress.name" . }}
    helm.sh/chart: {{ include "wordpress.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    {{- if .Values.wordpress.uptime }}
    downscaler/uptime: {{.Values.wordpress.uptime}}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "wordpress.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "wordpress.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      {{- if .Values.podLabels }}
        ## Custom pod labels
        {{- range $key, $value := .Values.podLabels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- if .Values.podAnnotations }}
        ## Custom pod annotations
        {{- range $key, $value := .Values.podAnnotations }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}-nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /scripts/run-nginx.sh
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /nginx-status
              port: http
          readinessProbe:
            httpGet:
              path: /wp-login.php
              port: http
            timeoutSeconds: 5
          volumeMounts:
          - mountPath: /etc/nginx/nginx.conf
            name: config-volume
            subPath: nginx.conf
          - mountPath: /app/wp-config.php
            name: config-volume
            subPath: wp-config.php
          lifecycle:
            preStop:
              exec:
                # SIGTERM triggers a quick exit; gracefully terminate instead
                command:
                  - /bin/bash
                  - -c
                  - "sleep 30 && /usr/sbin/nginx -s quit"
          resources:
{{ toYaml .Values.nginx.resources | indent 12 }}
        - name: {{ .Chart.Name }}-php-fpm
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /scripts/run-php.sh
          env:
          - name: MYSQL_HOST
            value: {{ $.Values.externalDatabase.host | quote }}
          - name: MYSQL_PORT
            value: {{ $.Values.externalDatabase.port | quote }}
          - name: MYSQL_DATABASE
            value: {{ $.Values.externalDatabase.database | quote }}
          - name: MYSQL_USER
            valueFrom:
              secretKeyRef:
                name: {{ template "wordpress.fullname" $ }}
                key: db-username
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ template "wordpress.fullname" $ }}
                key: db-password
          - name: WP_OFFLOAD_BUCKET
            value: {{ .Values.offload.bucket | quote }}
          - name: WP_OFFLOAD_REGION
            value: {{ .Values.offload.region | quote }}
          - name: WP_OFFLOAD_DOMAIN
            value: {{ .Values.offload.domain | quote }}
          - name: WP_OFFLOAD_CLOUDFRONT
            value: {{ .Values.offload.cloudfront | quote }}
          - name: WP_OFFLOAD_LOCAL_DOMAINS
            value: {{ .Values.offload.local_domains | quote }}
          - name: WP_DEFAULT_HOST
            value: {{ index .Values.ingress.hosts 0 | quote }}
          - name: WP_DEBUG
            value: {{ .Values.debug.enabled | quote }}
          - name: WP_DEBUG_LOG
            value: {{ .Values.debug.enabled | quote }}
          - name: WP_PLUGINS
            value: {{ join " " .Values.plugins | quote }}
{{- if .Values.extraEnv }}
{{ toYaml .Values.extraEnv | indent 10 }}
{{- end }}
          ports:
            - name: fpm
              containerPort: 9000
              protocol: TCP
          #livenessProbe:
          #  httpGet:
          #    path: /fpm-ping
          #    port: http
          volumeMounts:
          - mountPath: /etc/php/7.2/fpm/php-fpm.conf
            name: config-volume
            subPath: fpm.conf
          - mountPath: /etc/php/7.2/fpm/pool.d/www.conf
            name: config-volume
            subPath: fpm-pool.conf
          - mountPath: /app/wp-config.php
            name: config-volume
            subPath: wp-config.php
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - "sleep 30"
          resources:
{{ toYaml .Values.php.resources | indent 12 }}
{{- if ( .Values.monitoring.enabled ) }}
        - name: {{ .Chart.Name }}-php-fpm-monitor
          image: "{{ .Values.exporter.phpfpm.image.repository }}:{{ .Values.exporter.phpfpm.image.tag }}"
          imagePullPolicy: {{ .Values.exporter.phpfpm.image.pullPolicy }}
          env:
          - name: PHP_FPM_WEB_LISTEN_ADDRESS
            value: ":{{ .Values.exporter.phpfpm.port }}"
          - name: PHP_FPM_WEB_TELEMETRY_PATH
            value: {{ .Values.exporter.phpfpm.metrics | quote }}
          - name: PHP_FPM_SCRAPE_URI
            value: {{ .Values.exporter.phpfpm.scrape_uri | quote }}
          - name: PHP_FPM_FIX_PROCESS_COUNT
            value: {{ .Values.exporter.phpfpm.fix_process_count | quote }}
          - name: PHP_FPM_LOG_LEVEL
            value: {{ .Values.exporter.phpfpm.log_level | quote }}
          ports:
            - name: php-fpm-metrics
              containerPort: {{ .Values.exporter.phpfpm.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: php-fpm-metrics
          resources:
{{ toYaml .Values.exporter.phpfpm.resources | indent 12 }}
        - name: {{ .Chart.Name }}-nginx-monitor
          image: "{{ .Values.exporter.nginx.image.repository }}:{{ .Values.exporter.nginx.image.tag }}"
          imagePullPolicy: {{ .Values.exporter.nginx.image.pullPolicy }}
          env:
          - name: LISTEN_ADDRESS
            value: ":{{ .Values.exporter.nginx.port }}"
          - name: TELEMETRY_PATH
            value: {{ .Values.exporter.nginx.telemetry_path | quote }}
          - name: NGINX_PLUS
            value: {{ .Values.exporter.nginx.nginx_plus | quote }}
          - name: SCRAPE_URI
            value: {{ .Values.exporter.nginx.scrape_uri | quote }}
          - name: SSL_VERIFY
            value: {{ .Values.exporter.nginx.ssl_verify | quote }}
          - name: TIMEOUT
            value: {{ .Values.exporter.nginx.timeout | quote }}
          - name: NGINX_RETRIES
            value: {{ .Values.exporter.nginx.nginx_retries | quote }}
          - name: NGINX_RETRY_INTERVAL
            value: {{ .Values.exporter.nginx.nginx_retry_interval | quote }}
          ports:
            - name: nginx-metrics
              containerPort: {{ .Values.exporter.nginx.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: nginx-metrics
          resources:
{{ toYaml .Values.exporter.nginx.resources | indent 12 }}
{{ end }}
      terminationGracePeriodSeconds: 60
      volumes:
      - name: config-volume
        configMap:
          # Provide the name of the ConfigMap containing the files you want
          # to add to the container
          name: {{ include "wordpress.fullname" . }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
